<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">{{ PLATFORM_NAME }} is an online learning platform powered by <a href="https://open.edx.org">Open edX</a>. It runs with <a href="https://docs.tutor.overhang.io">Tutor</a>, with the customized <a href="https://github.com/overhangio/tutor-indigo">Indigo</a> theme. 
                Educatis is a social enterprise with the vision of supporting the ecological transformation of the economy and society and the mission of providing companies and organisations with directly applicable technical and social solutions, enabling them to achieve their environmental sustainability goals efficiently and effectively.​

Educatis shall be the first choice for companies, municipalities and other political or social organisations worldwide looking for innovative, quality-assured solutions to address their key environmental challenges.</%block>
        </p>
    </section>
</main>
